<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    img {
        width: 300px;
        /* height: 500px; */
    }
</style>

<body>
    <a href="/">Home</a>
    <br>
    <a href="/houses">Go to House Index</a>
    <br>
    <a href="/students">Go to Student Index</a>
    <h1>{{houseDisplay}}'s Students:</h1>
    {{#filtered}}
    <h3><a href="/students/{{id}}">{{first}} {{last}}</a></h3>
    <a href="/students/{{id}}"> <img src="{{image}}" alt="a_student_image"> </a>
    <h3>House: {{house}}</h3>
    <hr>
    {{/filtered}}
</body>

</html>