<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houses</title>
</head>
<body>
    <a href="/">Go back home</a>
    <h2>Houses</h2><br>
    <p><a href="/houses/Gryffindor">Gryffindor</a></p>
    <p><a href="/houses/Hufflepuff">Hufflepuff</a></p>
    <p><a href="/houses/Ravenclaw">Ravenclaw</a></p>
    <p><a href="/houses/Slytherin">Slytherin</a></p>
</body>
</html>