
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harry Potter</title>
</head>
<body>
    <style>
        
        body {
        text-align: center;
        background-color: black;
        margin-top:10%;
        color: darkcyan;
        font-family: "Rock Salt";
        font-size: 40px;
      
} 

        
        </style>
        <h1>Harry Potter</h1>
        <h3>
    <a href="student"> STUDENTS </a>
    <br>
    <a href="house"> HOUSES </a>
</h3>
</body>
</html>