<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Harry potter</title>
</head>

<body background="https://hpmedia.bloomsbury.com/rep/g/page-background%20-%20product.png"> 

<br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <h1 style="font-family: cursive;text-align:center;font-size: 50px;">Welcome to the Harry Potter Website</h1>

  <br>
  <br>
  <br>
  <br>

  <a href="/students"><h2 style="font-family:Arial, Helvetica, sans-serif;text-align:center;color:antiquewhite;"">View all Students</h2></a>
  <br>
  <a href="/houses"><h2 style="font-family:verdana;text-align:center;color:antiquewhite;">View all Houeses</h2></a>
</body> 
</html>