<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <style>
        body {
         text-align: center;
         background-color: black;
         margin-top:10%;
         color: darkcyan;
         font-family: "Rock Salt";
         font-size: 40px;
       
 } 
      </style>
  <a href="/">go home</a>
  <a href="/data/data">see all Student</a>
  <img src={{sData.image}} alt="">
  <p>id: {{sData.id}}</p>
  <p>first: {{sData.first}}</p>
  <p>last: {{sData.last}}</p>
  <p>house: {{sData.house}}</p>
</body>
</html>