<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <a href="/">go home</a>
  <a href="/data/data.js">see all Student</a>
  <img src={{student_Data.image}} alt="">
  <p>: id{{student_Data.id}}</p>
  <p>first: {{student_Data.first}}</p>
  <p>last: {{student_Data.last}}</p>
  <p>house: {{student_Data.house}}</p>

</body>
</html>