<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div>
                <a href="/"><h3>Home</h3></a>
                <a href="/students"><h3>All Students</h3></a>

                    {{#list}}
                    <h2>{{first}} {{last}}</h2>
                    <p><img src={{image}} alt=""></p>

                    <br>
                    <br>
                    <a href="/house">{{house}}</a>
                    <br>


                    {{/list}}





        </div>
</body>
</html>