<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="container" style="text-align:center;"> 
  
  <h1 style="font-family:verdana;text-align:center;">Checkout All Students</h1>
  <br>
  <a href="/"> <p style="font-family:verdana;text-align:center;"> Go Home </p></a>
  <br>

  {{#harryPotterDataList}}
    <img src={{image}} alt="">
    <a href="/students/{{id}}"><p style="font-family:verdana;text-align:center;"> {{first}} </p></a>

  {{/harryPotterDataList}}

</div>

</body>
</html>