<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>student's page </h1>
        <a href="/">go home </a>
        <a href="harryPotterData/{{id}}">

        </a>
        {{#harryPotterDataList}}
        <img src={{image}} alt="">
        <a href="/students/{{id}}"> {{first}} {{last}} </a>
        {{/harryPotterDataList}}

        <!-- <p>{{first}}</p> -->
    </center>
</body>
<h1>Houses</h1>

</html>