<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students List</title>
</head>
<body>
    <a href="/">Back To Home Page</a>
    <div>
        {{#studentsList}}
        <div>       
            <img src={{image}} alt={{first}}>
            <h2><a href="/students/{{id}}">{{first}} {{last}}</a></h2>
        </div>
        {{/studentsList}}
    </div>
    <a href="/">Back to Home Page</a>
</body>
</html> 