<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            body{
                color:white;
                text-align: center;
                background-color: black;
                }
                p,a{
                    background-color: white;
                    color:black;
                }
        </style>
</head>
<body>
    <div>
        <a href='/'>home</a>
        {{#harryPotterList}}
        <p>{{first}} {{last}}</p>
        <p><img src='{{image}}'></p>
        <p><a href=''></a>{{house}}</p>
        {{/harryPotterList}}
        <a href='/students'>View all students</a>
    </div>
</body>
</html>