<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Show student</h1>
    <a href="/">back home </a>
    <a href="/students">See all students </a>
    {{#student}}
    <div class="profile">
    <img src="{{student.image}}" >
    <div> <a href="/students/{{student.id}}">{{student.first}}{{student.last}}</a></div>
<div><a href="/houses/{{id}}">{{student.house}}</a></div>
</div>
    {{/student}}
</body>
</html>