<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-image: url("https://stmed.net/sites/default/files/harry-potter-wallpapers-29604-4746520.jpg");
        }
        h1{
            color: azure;
        }
        a{
            color: azure;
        }
        .back{
            font-size: 40px;
        }
    </style>
</head>
<body>
    <h1>Houses</h1>
    <a class="back" href="/">go home</a>
    <a href="houses/Gryffindor"><h2>Gryffindor</h2></a>
<a href="/houses/Hufflepuff"><h2>Hufflepuff</h2></a>
<a href="/houses/Ravenclaw"><h2>Ravenclaw</h2></a>
<a href="/houses/Slytherin"><h2>Slytherin</h2></a>
<a href="houses/{{house}}"><h2>{{house}}</h2></a>


    <!-- {{#housesList}} -->
    <!-- <a href="harryPotterDatas/{{house}}"><p>{{house}}</p></a> -->
    <!-- <a href="/harryPotterData/{{house}}"><h2>{{house}}</h2></a> -->
    <!-- {{/housesList}} -->
   
</body>
</html>