<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House</title>
</head>
<body>
        <a href="/">Home</a>

        <style>
                body {
                 text-align: center;
                 background-color: black;
                 margin-top:10%;
                 color: darkcyan;
                 font-family: "Rock Salt";
                 font-size: 40px;
               
         } 
              </style>

<br>
    
    <a href="/house/Gryffindor"> Gryffindor </a>
    <br>
    <a href="/house/Hufflepuff"> Hufflepuff </a>
    <br>
    <a href="/house/Slytherin"> Slytherin </a>
    <br>
    <a href="/house/Ravenclaw"> Ravenclaw </a>

    

</body>
</html>