<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houses</title>
</head>
<body style="background-color: Thistle;background-image:url('http://www.chorleysoriginal.com/communities/9/004/013/408/349//images/4635180473.gif');"> 
  <a href="/"> <p style="font-family:verdana;"> << Go Home </p></a>
  <a href="/students">See all students</a>
    <div class ="container" style="font-family:verdana;text-align:center;">
        <!-- <a href="/">Go home</a> -->
        

    <h1 style="font-family: cursive;text-align:center;font-size: 50px;">Houses</h1>
    {{#housesList}}
    <a href="/houses/{{house}}"><p>{{house}}</p></a>
    {{/housesList}}
 </div>
  
</body>
</html> 