<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houses</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Houses:</h1>
    <h2><a href="/houses/Gryffindor">Gryffindor</a></h2>
    <h2><a href="/houses/Hufflepuff">Hufflepuff</a></h2>
    <h2><a href="/houses/Ravenclaw">Ravenclaw</a></h2>
    <h2><a href="/houses/Slytherin">Slytherin</a></h2>
    <button><a href="/">Back To Home Page</a></button>
</body>
</html>