<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House info</title>
</head>
<body>

    <a href="/">go back to home page </a><br>
    <a href="/houses">go back to houses</a><br><br>
    <h1>{{houseList.house}}</h1>
    {{#houseList}}
    <img src="{{image}}" alt="student_image" height="250" width="200" >
    <a href="/students/{{id}}"> <h2>{{first}} {{last}}</h2></a>
    {{/houseList}}
</body>
</html>